
.app-container {
    display: flex;
    flex-direction: row; 
    height: 100vh; 
  }
  
  .navigation-bar {
    width: 250px; 
    background-color: #0c2d48;
    color: white;
    height: 100vh; 
    position: fixed; 
    top: 0;
    left: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start; 
  }
  .profile-bar {
    width: 250px; 
    background-color: #0c2d48;
    color: white;
    height: 100vh; 
    position: fixed; 
    top: 0;
    right: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start; 
  }
  
  .page-content {
    margin-left: 250px; 
    padding: 20px; 
    width: calc(100% - 250px);
    overflow-y: auto;
  }
  